/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(180deg,
                      hsla(174, 48%, 72%, 0),
                      hsla(207, 95%, 17%, 1));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto', sans-serif;
  --title-font: 'Lora', serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(207, 4%, 99%);
  background:linear-gradient(180deg,hsla(174, 48%, 72%, 0),hsla(207, 95%, 17%, 1));;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.about-container {
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.about-container h1 {
    font-weight: var(--font-bold);
    margin-bottom: 20px;
}

.about-container p {
    font-weight: var(--font-regular);
    color: hsl(207, 4%, 44%);
    margin-bottom: 40px;
}

.team {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    animation: fadeInUp 1s ease-in-out;
}

.team-member {
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
    /* border-radius: 50%; */
    width: 150px;
    /* height: 150px; */
    object-fit: cover;
    margin-bottom: 10px;
    transition: box-shadow 0.3s;
}

.team-member img:hover {
    box-shadow: 0 5px 15px hsl(207, 4%, 28%);
}

.team-member h3 {
    font-weight: var(--font-semi-bold);
    margin-bottom: 5px;
}

.team-member p {
    font-weight: var(--font-regular);
    color: hsl(0, 0%, 100%);
}

/* Responsive Design */
@media screen and (max-width: 570px) {
    .team {
        flex-direction: column;
    }

    .team-member {
        margin-bottom: 20px;
    }

    .team-member img {
        width: 100px;
        height: 100px;
    }
}
