{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbars</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link rel="stylesheet" href="{% static "css/navmobile.css" %}">
</head>
<body>
    <div class="navigation">
        <ul>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="ri-home-7-line"></i></span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="ri-archive-line"></i></span>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="ri-shopping-cart-2-line"></i></span>
                    <span class="text">Cart</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="ri-customer-service-2-line"></i></span>
                    <span class="text">Contact</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="ri-question-mark"></i></span>
                    <span class="text">About</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="ri-user-line"></i></span>
                    <span class="text">Account</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <script src="{% static "js/nav.js" %}"></script>
</body>
</html>